<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="R">
    <r-file-path value="$PROJECT_DIR$/app.R" />
    <working-directory value="$PROJECT_DIR$" />
    <interpreter-arguments value="" />
    <script-arguments value="" />
    <envs />
    <method v="2" />
  </configuration>
</component>